<h2>Add Your Team</h2>

<% form_for @team do |f| %>
  <%= f.error_messages %>
  Team Name (Highschool): <%= f.text_field :name %><br />
  County: <%= f.text_field :county %><br />
  State: <%= f.select :state, Team::STATES, :include_blank => true %>
  <%= f.submit 'Add Team' %>
<% end %>
