<h2>Welcome to Tee-Ride</h2>

<p>Top 5 Teams</p>
<table id="top-teams">
  <tr>
    <th>Team Name</th>
    <th>State</th>
    <th>Average</th>
  </tr>
    <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.state %></td>
      <td><%= team.team_avg %></td>
    </tr>    
    <% end %>
</table>
<%= link_to 'Teams', teams_path %> 
<hr/>

<p>Top 5 Golfers</p>
<table id="top-golfers">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Team</th>
    <th>State</th>
    <th>Average</th>
  </tr>
    <% @golfers.each do |golfer| %>
    <tr>
      <td><%= golfer.first_name %></td>
      <td><%= golfer.last_name %></td>
      <td><%= golfer.team.name %></td>
      <td><%= golfer.team.state %></td>
      <td><%= golfer.golfer_avg %></td>
    </tr>      
  <% end %>
</table>
<%= link_to 'Golfers', golfers_path %>
<hr/>
